Repository fledge-iot/fledge, pull requests merged in 2022-08, with the labels that each got.

#760 FOGL-6743 more unit tests added with isnull and notnull in payload builder
  tests/unit/python/fledge/common/storage_client/data/payload_multiple_and_where_with_isnull.json
  tests/unit/python/fledge/common/storage_client/data/payload_multiple_and_where_with_notnull.json
  tests/unit/python/fledge/common/storage_client/data/payload_multiple_or_where_with_isnull.json
  tests/unit/python/fledge/common/storage_client/data/payload_multiple_or_where_with_notnull.json
  tests/unit/python/fledge/common/storage_client/test_payload_builder.py
Labels: unit tests

#753 FOGL-6719 - Deprecate asset record handling in Rest API
  C/common/asset_tracking.cpp
  C/common/include/asset_tracking.h
  C/common/include/expression.h
  C/common/include/insert.h
  C/common/include/management_client.h
  C/common/include/resultset.h
  C/common/management_client.cpp
  C/plugins/storage/postgres/connection.cpp
  C/plugins/storage/sqlite/common/connection.cpp
  C/plugins/storage/sqlitelb/common/connection.cpp
  C/services/south/include/ingest.h
  C/services/south/ingest.cpp
  VERSION
  python/fledge/services/core/api/asset_tracker.py
  python/fledge/services/core/api/filters.py
  python/fledge/services/core/api/service.py
  python/fledge/services/core/api/south.py
  python/fledge/services/core/api/task.py
  python/fledge/services/core/routes.py
  scripts/plugins/storage/postgres/downgrade/52.sql
  scripts/plugins/storage/postgres/init.sql
  scripts/plugins/storage/postgres/upgrade/53.sql
  scripts/plugins/storage/sqlite/downgrade/52.sql
  scripts/plugins/storage/sqlite/init.sql
  scripts/plugins/storage/sqlite/upgrade/53.sql
  scripts/plugins/storage/sqlitelb/downgrade/52.sql
  scripts/plugins/storage/sqlitelb/init.sql
  scripts/plugins/storage/sqlitelb/upgrade/53.sql
  tests/unit/python/fledge/services/core/api/test_asset_tracker_api.py
  tests/unit/python/fledge/services/core/api/test_filters.py
  tests/unit/python/fledge/services/core/api/test_service.py
  tests/unit/python/fledge/services/core/api/test_task.py
Labels: enhancement, API

#765 FOGL-6693
  python/fledge/plugins/common/utils.py
  python/fledge/services/core/api/plugins/data.py
  python/fledge/services/core/routes.py
Labels: API

#766 FOGL-6670 Add documentation for service/asset relationship deprecation
  docs/building_pipelines.rst
  docs/images/deprecated_1.png
  docs/images/deprecated_2.png
Labels: documentation

#783 Audit system test fixes as per FOGL-6773 changes
  tests/system/python/api/test_audit.py
Labels: System tests

#782 FOGL-6774 Configuration update handling for rest_api category and having authentication config item in case of non-admin user
  python/fledge/services/core/api/configuration.py
  tests/unit/python/fledge/services/core/api/test_configuration.py
Labels: API

#772 FOGL-5954 Add definition of all the flags values for C++ plugins
  docs/plugin_developers_guide/02_writing_plugins.rst
Labels: documentation

#784 FOGL-6771 Plugin Data API extension improvements
  python/fledge/plugins/common/utils.py
  python/fledge/services/core/api/plugins/data.py
Labels: API

#786 FOGL-6699 Restore fixes
  python/fledge/plugins/storage/postgres/backup_restore/restore_postgres.py
  python/fledge/plugins/storage/sqlite/backup_restore/restore_sqlite.py
Labels: bug

#793 plugin packaging doc updated for C-based plugins
  docs/plugin_developers_guide/09_packaging.rst
Labels: documentation

#800 CentOS and Red Hat references are removed in documentation
  docs/KERBEROS.rst
  docs/REDHAT.rst
  docs/build_index.rst
  docs/building_fledge/building_fledge.rst
  docs/plugin_developers_guide/09_packaging.rst
  docs/quick_start/installing.rst
  docs/quick_start/uninstalling.rst
  docs/storage.rst
Labels: documentation

#799 FOGL-6836 Update building instructions to use requirements.sh
  docs/KERBEROS.rst
  docs/REDHAT.rst
  docs/build_index.rst
  docs/building_fledge/building_fledge.rst
  docs/plugin_developers_guide/09_packaging.rst
  docs/quick_start/installing.rst
  docs/quick_start/uninstalling.rst
  docs/storage.rst
Labels: documentation
