Repository fledge-iot/fledge, pull requests merged in 2023-03, with the labels that each got.

#981 FOGL-7475 - query parameter added in Syslog API to allow searching of the logs
  python/fledge/services/core/api/support.py
  scripts/common/get_logs.sh
Labels: API

#992 FOGL-7436 inbuilt DataAvailability rule documentation added
  docs/fledge-rule-DataAvailability/images/data-availability.png
  docs/fledge-rule-DataAvailability/index.rst
  docs/scripts/plugin_and_service_documentation
Labels: documentation

#995 FOGL-7423 Add audit logger and group documentation
  docs/plugin_developers_guide/02_writing_plugins.rst
Labels: documentation

#1001 FOGL-7292 doc patch
  docs/OMF.rst
  docs/scripts/plugin_and_service_documentation
  docs/troubleshooting_pi-server_integration.rst
Labels: documentation

#996 added wait time in system e2e notification tests
  tests/system/python/e2e/test_e2e_notification_service_with_plugins.py
Labels: System tests

#1009 FOGL-7513 package Name for installed plugins from external .Package file if exists
  python/fledge/common/plugin_discovery.py
Labels: API

#1016 FOGL-7554 Additional query parameter is added in asset graph API
  python/fledge/services/core/api/browser.py
Labels: API

#1018 FOGL-7579 package name handling in Plugins PUT & DELETE API
  python/fledge/services/core/api/plugins/remove.py
  python/fledge/services/core/api/plugins/update.py
  python/fledge/services/core/routes.py
  tests/unit/python/fledge/services/core/api/plugins/test_remove.py
  tests/unit/python/fledge/services/core/api/plugins/test_update.py
Labels: API

#1031 FOGL-7556 Add documentation for new GUI features
  docs/images/gui_settings.jpg
  docs/images/multi_graph1.jpg
  docs/images/multi_graph2.jpg
  docs/images/multi_graph3.jpg
  docs/quick_start/viewing.rst
Labels: documentation
