Repository fledge-iot/fledge, pull requests merged in 2024-04, with the labels that each got.

#1322 FOGL-8616 Add notes on firewall setup
  docs/quick_start/installing.rst
Labels: documentation

#1330 FOGL-8443 Startup ordering documentation
  docs/tuning_fledge.rst
Labels: documentation

#1334 FOGL-8581 - Plugin cross referencing as per shared keywords
  docs/scripts/fledge_plugin_list
  docs/scripts/plugin_and_service_documentation
Labels: documentation

#1344 FOGL-8620 platforms support list added in documentation
  docs/quick_start/index.rst
  docs/quick_start/platforms.rst
Labels: documentation

#1345 FOGL-7737 Control Pipeline API unit tests along with filters
  python/fledge/services/core/api/control_service/pipeline.py
  tests/unit/python/fledge/services/core/api/control_service/test_pipeline.py
Labels: unit tests

#1346 FOGL-7738 Control Pipeline API integration tests along with filters
  tests/system/python/api/control_service/test_pipeline.py
  tests/system/python/plugin_and_service.py
  tests/system/python/scripts/reset_plugins
Labels: API Tests
