Repository fledge-iot/fledge, pull requests merged in 2024-11, with the labels that each got.

#1480 FOGL-9229 DST fixes in browser API integration tests
  tests/system/python/api/test_browser_assets.py
Labels: API Tests

#1491 FOGL-9156 update plugin developers guide for version 2.0.0 of the south plugin interface
  docs/plugin_developers_guide/02_writing_plugins.rst
  docs/plugin_developers_guide/03_south_C_plugins.rst
Labels: documentation

#1495 FOGL-9252: Updated tests to send data to PI Server instead of connector relay
  tests/system/python/conftest.py
  tests/system/python/e2e/test_e2e_coap_PI.py
  tests/system/python/e2e/test_e2e_csv_PI.py
  tests/system/python/e2e/test_e2e_csv_multi_filter_pi.py
  tests/system/python/e2e/test_e2e_expr_pi.py
  tests/system/python/e2e/test_e2e_filter_fft_threshold.py
  tests/system/python/e2e/test_e2e_modbus_c_pi.py
  tests/system/python/e2e/test_e2e_modbus_c_rtu_pi.py
  tests/system/python/e2e/test_e2e_pi_scaleset.py
  tests/system/python/e2e/test_e2e_vary_asset_http_pi.py
  tests/system/python/pair/test_e2e_fledge_pair.py
  tests/system/python/rpi/test_e2e_rpi_ephat.py
Labels: System tests

#1506 FOGL-9252.patch task name fixes in modbus E2E tests
  tests/system/python/e2e/test_e2e_modbus_c_pi.py
  tests/system/python/e2e/test_e2e_modbus_c_rtu_pi.py
Labels: System tests
