Repository fledge-iot/fledge, pull requests merged in 2025-01, with the labels that each got.

#1532 FOGL-9335 Compatibility of Python-based pip dependencies across the different Python versions we support
  python/fledge/common/utils.py
  python/fledge/services/common/utils.py
  python/fledge/services/core/server.py
  python/requirements-test.txt
  tests/README.rst
  tests/system/python/api/test_common.py
  tests/unit/python/.pytest.ini
  tests/unit/python/fledge/common/storage_client/test_sc_exceptions.py
  tests/unit/python/fledge/common/test_logger.py
  tests/unit/python/fledge/common/web/test_ssl_wrapper.py
  tests/unit/python/fledge/services/common/microservice_management/test_instance.py
  tests/unit/python/fledge/services/common/test_services_common_utils.py
  tests/unit/python/fledge/services/core/api/test_certificate_store.py
  tests/unit/python/fledge/services/core/scheduler/test_scheduler.py
  tests/unit/python/fledge/services/core/scheduler/test_scheduler_exceptions.py
  tests/unit/python/fledge/services/core/test_connect.py
  tests/unit/python/fledge/services/core/test_user_model.py
  tests/unit/python/fledge/tasks/purge/test_purge.py
Labels: unit tests, System tests

#1533 FOGL-9279 Resolve inconsistencies in documentation
  docs/rest_api_guide/02_RESTauthentication.rst
  docs/securing_fledge.rst
Labels: documentation

#1539 FOGL-9398 certificate user login fixes when username with mixed case name
  python/fledge/services/core/api/auth.py
  tests/system/python/api/test_authentication.py
Labels: API

#1540 FOGL-9466 Add documentation for persisting state from plugins
  docs/images/persist_1.png
  docs/images/persist_2.png
  docs/plugin_developers_guide/02_persisting_data.rst
  docs/plugin_developers_guide/index.rst
Labels: documentation

#1544 Fixes for filter verification in OMF North service with system tests for filters as per FOGL-6256
  tests/system/python/packages/test_omf_north_service.py
Labels: System tests

#1520 FOGL-9154: Added RST files for the system tests
  tests/system/python/e2e/docs/test_e2e_coap_PI.rst
  tests/system/python/e2e/docs/test_e2e_csv_PI.rst
  tests/system/python/e2e/docs/test_e2e_csv_multi_filter_pi.rst
  tests/system/python/e2e/docs/test_e2e_expr_pi.rst
  tests/system/python/e2e/docs/test_e2e_filter_fft_threshold.rst
  tests/system/python/e2e/docs/test_e2e_kafka.rst
  tests/system/python/e2e/docs/test_e2e_modbus_c_pi.rst
  tests/system/python/e2e/docs/test_e2e_notification_service_with_plugins.rst
  tests/system/python/packages/docs/test_authentication.rst
  tests/system/python/packages/docs/test_filters.rst
  tests/system/python/packages/docs/test_multiple_assets.rst
  tests/system/python/packages/docs/test_north_azure.rst
  tests/system/python/packages/docs/test_north_pi_webapi_nw_throttle.rst
  tests/system/python/packages/docs/test_omf_naming_scheme.rst
  tests/system/python/packages/docs/test_omf_north_service.rst
  tests/system/python/packages/docs/test_pi_webapi.rst
  tests/system/python/packages/docs/test_pi_webapi_linked_data_type.rst
  tests/system/python/packages/docs/test_rule_data_availability.rst
  tests/system/python/packages/docs/test_statistics_history_notification_rule.rst
  tests/system/python/pair/docs/test_c_north_service_pair.rst
  tests/system/python/pair/docs/test_e2e_fledge_pair.rst
  tests/system/python/pair/docs/test_python_north_service_pair.rst
  tests/system/python/pair/test_python_north_service_pair.py
Labels: documentation
